.promo {
	padding: 0 0 1rem 0;
	// .promo__container
	&__container {
	}
	// .promo__body
	&__body {
		display: flex;
		align-items: center;
		margin: 0 rem(-10);
	}
	// .promo__offer
	&__offer {
		flex: 0 0 58.33333%;
		padding: 0 rem(10);
	}
	// .promo__caption
	&__caption {
		color: #4b4b4b;
		font-size: 1.125rem;
		line-height: 140%;
		max-width: 28.5rem;
	}
	// .promo__title
	&__title {
		margin: 2rem 0 0 0;
		& span {
			white-space: nowrap;
		}
	}
	// .promo__list
	&__list {
		margin-top: rem(60);
		display: flex;
		justify-content: space-between;
	}
	// .promo__list-item
	&__list-item {
		position: relative;
		padding-left: 3.5rem;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 2.625rem;
			height: 2.625rem;
			flex-shrink: 0;
			border-radius: 50%;
			background: #f9fae9;
			color: #4d8a4a;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .promo__list-item-caption
	&__list-item-caption {
		color: #303030;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 140%;
	}
	// .promo__list-item-desc
	&__list-item-desc {
		margin-top: 0.31rem;
		color: #303030;
		font-size: 1rem;
		font-weight: 300;
		line-height: 140%;
	}
	// .promo__btns
	&__btns {
		margin-top: 5.87rem;
		display: flex;
		align-items: center;
		gap: 1.81rem;
	}
	// .promo__btn
	&__btn {
	}
	// .promo__image
	&__image {
		flex: 0 0 41.66666%;
		padding: 0 rem(10);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background: url("@img/promo-image-bg.png") 0 center / auto rem(462) no-repeat;
		& img {
			max-width: 28.46025rem;
		}
	}
}

.benefits {
	margin-top: rem(100);
	background: #feffeb;
	padding: rem(84) 0;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: rem(100);
		background: url("@img/decor.svg") center top / cover no-repeat;
	}
	// .benefits__container
	&__container {
	}
	// .benefits__header
	&__header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		gap: rem(20);
	}
	// .benefits__title
	&__title {
		& span {
			white-space: nowrap;
		}
	}
	// .benefits__desc
	&__desc {
		color: #4b4b4b;
		font-size: 1.125rem;
		line-height: 140%;
	}
	// .benefits__list
	&__list {
		margin-top: 5rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.06rem;
	}
	// .benefits__item
	&__item {
		border-radius: 1.25rem;
		background: #fff;
		box-shadow: $shadow;
		padding: 1.06rem 2.75rem 3.56rem 1.25rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&:has(.benefits__item-list) {
			grid-column: span 2;
			flex-direction: row;
			align-items: center;
			.benefits__item-image {
				width: 24.125rem;
				height: 24.125rem;
				&::before {
					width: 13.6875rem;
					height: 13.6875rem;
				}
			}
		}
	}
	// .benefits__item-image
	&__item-image {
		width: 14.375rem;
		height: 14.375rem;
		flex-shrink: 0;
		aspect-ratio: 1/1;
		position: relative;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 10.125rem;
			height: 10.125rem;
			flex-shrink: 0;
			border-radius: 50%;
			z-index: -1;
			background: linear-gradient(180deg, #89d185 0%, #466b44 100%);
		}
	}
	// .benefits__item-caption
	&__item-caption {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 140%;
	}
	// .benefits__item-desc
	&__item-desc {
		margin-top: 1.5rem;
		color: #4b4b4b;
		font-size: 1rem;
		line-height: 140%;
	}
	// .benefits__item-list
	&__item-list {
		margin-top: 1.19rem;
		color: #4b4b4b;
		font-size: 1rem;
		line-height: 140%;
		& li {
			padding-left: 1.75rem;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0.44rem;
				left: 0;
				width: 0.75rem;
				height: 0.75rem;
				border-radius: 50%;
				background: #4d8a4a;
			}
			&:not(:last-child) {
				margin-bottom: 1.38rem;
			}
		}
	}
	// .benefits__btn
	&__btn {
		margin-top: 3.06rem;
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		display: flex;
	}
}

.history {
	padding: 7.06rem 0;
	// .history__container
	&__container {
	}
	// .history__content
	&__content {
		display: flex;
		margin: 0 rem(-10);
	}
	// .history__video
	&__video {
		flex: 0 0 41.66666%;
		padding: 0 rem(60) 0 rem(10);
		display: flex;
		flex-direction: column;
	}
	// .history__video-poster
	&__video-poster {
		border-radius: 1.5rem;
		overflow: hidden;
	}
	// .history__video-subtitle
	&__video-subtitle {
		margin-top: 1rem;
		color: #4b4b4b;
		font-size: 1rem;
		font-style: italic;
		text-align: center;
		line-height: 140%;
	}
	// .history__body
	&__body {
		flex: 0 0 58.33333%;
		padding: 0 rem(10);
	}
	// .history__title
	&__title {
	}
	// .history__desc
	&__desc {
		margin-top: 2.62rem;
		color: #4b4b4b;
		font-size: 1rem;
		line-height: 180%;
	}
	// .history__nums
	&__nums {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
	// .history__nums-item
	&__nums-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		padding: 1.25rem;
		border-radius: 1.25rem;
		box-shadow: $shadow;
	}
	// .history__nums-value
	&__nums-value {
		background-image: linear-gradient(180deg, #89d185 0%, #466b44 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 3.125rem;
		font-weight: 700;
	}
	// .history__nums-desc
	&__nums-desc {
		margin-top: 0.94rem;
		color: #606060;
		font-size: 1rem;
		line-height: 140%;
	}
}

.calc {
	// .calc__container
	&__container {
	}
	// .calc__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	// .calc__main
	&__main {
	}
	// .calc__image
	&__image {
	}
	// .calc__title
	&__title {
	}
	// .calc__desc
	&__desc {
	}
	// .calc__list
	&__list {
	}
	// .calc__form
	&__form {
		border-radius: 1.25rem;
		background: #fff;
		box-shadow: $shadow;
		padding: 4.19rem 4.25rem;
	}
	// .calc__form-title
	&__form-title {
		display: flex;
		align-items: center;
		font-size: 2rem;
		font-weight: 600;
		gap: 1.5rem;
		&::before {
			order: 1;
			color: #9ba1aa;
		}
	}
	// .calc__form-subtitle
	&__form-subtitle {
		margin-top: 1.5rem;
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 140%;
	}
	// .calc__form-annual
	&__form-annual {
		margin-top: 3rem;
		display: flex;
		align-items: flex-end;
		gap: 0.25rem;
	}
	// .calc__form-annual-text
	&__form-annual-text {
		color: #303030;
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 140%;
	}
	// .calc__form-annual-value
	&__form-annual-value {
		color: #2d2d2d;
		font-size: 1.75rem;
		font-weight: 600;
	}
	// .calc__form-rows
	&__form-rows {
	}
	// .calc__form-row
	&__form-row {
	}
	// .calc__form-header
	&__form-header {
		display: flex;
		align-items: flex-end;
		gap: 0.25rem;
	}
	// .calc__form-text
	&__form-text {
		@extend .calc__form-annual-text;
	}
	// .calc__form-value
	&__form-value {
		@extend .calc__form-annual-value;
	}
	// .calc__form-range
	&__form-range {
	}
	// .calc__form-bottom
	&__form-bottom {
		margin-top: 2.7rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	// .calc__form-total
	&__form-total {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .calc__form-total-text
	&__form-total-text {
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 140%;
	}
	// .calc__form-total-value
	&__form-total-value {
		margin-top: 0.31rem;
		font-size: 2.75rem;
		font-weight: 600;
	}
	// .calc__form-btn
	&__form-btn {
	}
}

.works {
	// .works__container
	&__container {
	}
	// .works__title
	&__title {
	}
	// .works__subtitle
	&__subtitle {
	}
	// .works__list
	&__list {
	}
	// .works__item
	&__item {
	}
	// .works__item-title
	&__item-title {
	}
	// .works__item-desc
	&__item-desc {
	}
	// .works__item-link
	&__item-link {
	}
}

.guarantees {
	// .guarantees__container
	&__container {
	}
	// .guarantees__column
	&__column {
	}
	// .guarantees__title
	&__title {
	}
	// .guarantees__subtitle
	&__subtitle {
	}
	// .guarantees__image
	&__image {
	}
	// .guarantees__list
	&__list {
	}
	// .guarantees__item
	&__item {
	}
	// .guarantees__item-caption
	&__item-caption {
	}
	// .guarantees__item-desc
	&__item-desc {
	}
}
.cases {
	// .cases__container
	&__container {
	}
	// .cases__title
	&__title {
	}
	// .cases__subtitle
	&__subtitle {
	}
	// .cases__slider
	&__slider {
	}
	// .cases__slider-block
	&__slider-block {
	}
	// .cases__prev
	&__prev {
	}
	// .cases__next
	&__next {
	}
	// .cases__btn
	&__btn {
	}
}
.article {
	// .article__container
	&__container {
	}
	// .article__body
	&__body {
	}
	// .article__main
	&__main {
	}
	// .article__title
	&__title {
	}
	// .article__navbar
	&__navbar {
	}
	// .article__navbar-list
	&__navbar-list {
	}
	// .article__navbar-item
	&__navbar-item {
	}
	// .article__navbar-link
	&__navbar-link {
	}
	// .article__content
	&__content {
	}
	// .article__full
	&__full {
	}
	// .article__image
	&__image {
	}
}
